$gh-pages-compat: true; // or false depending on its purpose
@import "variables";

.dl-table {
  a {
    @supports (
      (text-decoration-thickness: initial) and (text-underline-offset: initial)
    ) {
      text-underline-offset: 0.8rem;
    }
    @supports not (
      (text-decoration-thickness: initial) and (text-underline-offset: initial)
    ) {
      padding-bottom: 0.45rem;
    }
  }

  .btn,
  .gumroad-button {
    margin: 1rem 0;
  }
}

/* 테두리를 적용하고 싶은 표 스타일 */
table {
  border-collapse: collapse; /* 테두리가 겹치지 않도록 설정 */
  width: 100%; /* 테이블 너비 */
}

th,
td {
  border: 1px solid #ddd; /* 테두리 스타일 */
  padding: 8px; /* 셀 안쪽 여백 */
}

th {
  background-color: #f2f2f2; /* 헤더 배경색 */
  text-align: left; /* 헤더 텍스트 정렬 */
}
