@import "variables"; // _variables.scss 파일에서 변수 불러오기

/* hydejack 테마 스타일 */
.clearfix,
.sidebar-social::after {
  content: "";
  display: table;
  clear: both;
}

.navbar,
.pagination,
.message {
  color: $primary-color;
  font-family: $font-stack;
}

/* 필요에 따라 추가 스타일 작성 */
// $gh-pages-compat: false !default;

table {
  border-collapse: collapse; /* 테두리가 겹치지 않도록 설정 */
  width: 100%; /* 테이블 너비 */
}

th,
td {
  border: 1px solid #8e409b; /* 테두리 스타일 */
  padding: 8px; /* 안쪽 여백 */
}

th {
  background-color: rgba(169, 105, 181, 0.5); /* 헤더 배경색 */
  text-align: left; /* 헤더 텍스트 정렬 */
}
